<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/my_js.js' %}"></script>
  </head>

  <body id="spotify">

    <div class="container mt-4">

     <div class="row">
      <div class="col-8"><h1>Halo, selamat datang!</h1></div>
      <div class="col-4"><button class="btn-lg" id="theme_switch_button">Change Theme!</button></div>

     </div>

    <br />
     <div class="row textbox accordion first_element" id="1">
        <div class="col">
 
          <h2>Aktivitasku</h2>
          <ul class="accordion-slide">
            <li><h3>Asdos DDP 1 2019/2020</h3></li>
            <li><h3>Menulis blog jurnalgalang.com</h3></li>
            <li><h3>Mencari duit dengan halal</h3></li>
            <li><h3>Menjadi orang baik :)</h3></li>
          </ul>

      </div>
     </div>
     <div class="row textbox accordion" id="2">
        <div class="col">

          <h2>Organisasi dan Kepanitiaan</h2>
          <ul class="accordion-slide">
            <li><h3>Scientific Committee Pelatnas TOKI 2019/2020</h3></li>
            <li><h3>Junior Member RISTEK DS 2019</h3></li>
            <li><h3>Staff BEM Keilmuan 2019</h3></li>
          </ul>

      </div>
     </div>

     <div class="row textbox accordion" id="3">
        <div class="col">

          <h2>Prestasi</h2>
          <ul class="accordion-slide">
            <li><h3>Yu-Gi-Oh! Duel Links Asia Regional Participant 2019</h3></li>
            <li><h3>Juara 2 lomba makan burger FIB 2018</h3></li>
            <li><h3>Terlucu PMB 2018</h3></li>
            <li><h3>Juara 1 lomba Cookierun Telkomsel Se-Bali 2015</h3></li>
          </ul>

      </div>
     </div>



    </div>
    
  </body>
</html>