body {
	overflow-y: scroll;	
}

body#spotify {
	background-color: #2D283E;
	color: #D1D7E0;
}

body#jurnalgalang {
	background-color: white;
	color: #25A186;
}

#theme_switch_button {
	float: right;
}

#spotify #theme_switch_button {
	color: #D1D7E0;
	background-color: #584F6F;
}

#jurnalgalang #theme_switch_button {
	color: white;
	font-weight: bold;
	background-color: #25A186;
}


#spotify h3 {
	color: #4C495D;
}

#jurnalgalang h2 {
	color: black;
	font-weight: bold;
}

.textbox {
	overflow-wrap: break-word;
}

#spotify .textbox {
	background-color: #CAA9E6;
	border: 0.2em solid #802BB1;
	border-top: none;
	color: #2D283E;
}

#spotify .first_element  {
	border: 0.2em solid #802BB1;
}

#jurnalgalang .textbox {
	background-color: white;
	border-bottom: 0.1em solid black;
	color: black;
}

#jurnalgalang .first_element {
	border-top: 0.1em solid black;
}